@import '../tokens/base.css';
@import '../tokens/tokens.css';
@import '../tokens/themes/white-label.css';
@import '../tokens/themes/farco.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--farco-font-family-base);
  color: var(--farco-color-neutral-100);
  background-color: var(--farco-color-bg-base);
}
